@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.navContainer {
    /*position: fixed;*/
    /*top: 0;*/
    /*z-index: 1000;*/
    padding: 30px 106px;
    font-size: 16px;
    color: #525260;
    font-family: 'Sono', sans-serif;
    font-weight: 450;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.navItems {
    display: inline-flex;
    list-style: none;
    position: relative;
}

.nav a{
    color: #525260;
    position: relative;
}

.dropdownContent {
    border-radius: 4px;
    display: none;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    padding: 7px 15px;
    text-transform: capitalize;
    border: white solid 1px;
    background-color: white;
    box-shadow: 0 13px 48px 0 rgba(0,0,0,.15);
    z-index: 1;
}

.item {
    padding: 0 15px;
    height: 60px;
    line-height: 60px;
    position: relative;
}

.navLink {
    text-decoration: none;
    white-space: nowrap;
}

.item:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    padding: 12px 16px;
    position: relative;
    text-decoration: none;
    display: block;
    color: #525260;
    line-height: normal;
}

.nav a:hover{
    color: darkcyan;
}

.nav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 0;
    height: 2px;
    background-color: darkcyan;
    transition: width 0.5s ease-in-out;
}

.nav a:hover::before {
    width: 100%;
}


.dropdownContent a::before {
    content: "";
    position: absolute;
    bottom: 19px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: darkcyan;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
}

.dropdownContent a:hover::before {
    transform: scaleX(1);
}